<h1><%= t('page_posts.edit.posts') %></h1>

<%= render 'form', page_post: @page_post %>

<%= link_to t('page_posts.edit.show'), @page_post %> |
<%= link_to t('page_posts.edit.back'), page_posts_path %>
