// Place all the styles related to the page_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
article.page_posts{
  margin-bottom:  1em;
  padding: 1em 0;
  border-bottom: 1px solid lightblue;
  h1, h2{
    margin-bottom: 0;
    section.page_posts-summary{
      padding: .5em 0;
    }
    section.page_posts-body{
      padding-top: 1em;
    }
    .img-show{
      display: block;
      margin-bottom: 2em;
    }
  }
}

